###############################################################################
# OS X - https://github.com/github/gitignore/blob/master/Global/OSX.gitignore #
###############################################################################
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

###############################################################################
# vim - https://github.com/github/gitignore/blob/master/Global/vim.gitignore  #
###############################################################################
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

###############################################################################
#Grails - https://github.com/github/gitignore/blob/master/Grails.gitignore    #
###############################################################################
# .gitignore for Grails 1.2 and 1.3

# web application files
/web-app/WEB-INF/classes

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target
.sass-cache
.asscache

# other
*.iws

############################################################################
#Gradle - https://github.com/github/gitignore/blob/master/Gradle.gitignore
############################################################################
.gradle
build/

############################################################################
# Jetbrains
############################################################################
## File-based project format
*.ipr
*.iws
*.iml
.shelf/

## Directory-based project format
.idea/

## Additional for IntelliJ
out/

############################################################################
# floobits
############################################################################
.floo


############################################################################
# vendor.js
############################################################################
/grails-app/assets/javascripts/vendor.js

############################################################################
# Angularjs generated source and test javascript files
# Included the install node_modules and bower_components directories
############################################################################
/test/front-end/generatedSrcJs/
/test/front-end/unit/generatedTestJs/
/test/front-end/node_modules/
/test/front-end/bower_components/
phantomjsdriver.log
/test/front-end/coverage/
Gemfile.lock
huubHR_front_end_unit.xml
Xvfb-test/grails_dependency_cache

############################################################################
# Cobertura (Unit Test coverage tool)
############################################################################
cobertura.ser
